%header#site-header{ :class => "l-#{layout[:header]}" }
  %h1
    %a{ :href => '/' }
      = @heading
      %span
        = @subtitle

  %nav.primary-nav
    %a.mobile-menu-icon
      %i{ :class => 'fa fa-bars' }
    %ul{ :role => 'navigation' }
      - Nesta::Menu.for_path('/').each_with_index do |item, index|
        - if ! item.is_a?(Array)
          - next unless item.flagged_as?('primary')
          %li{ :class => on_section(item.abspath) }
            %a{ :href => item.abspath }
              = item.link_text
