:erb
  <%
    xp_data = {
      :labels => [
        'Knowledge',
        'Experience',
        'Passion'
      ],
      :data => [
        { :id => 'backbone',  :label => 'Backbone.js', :bar_1 => 40, :bar_2 => 40, :bar_3 => 100, :content => 'I\'m a fan of structure and speed on the web, needless to say I love working with Backbone. I\'ve had to jump in and dig through hundreds of lines of poorly structured JavaScript more times than I can remember, when I hop on a project built on Backbone there\'s a comfort in already knowing how the project is structured and how to keep it in good shape.' },
        { :id => 'jasmine',   :label => 'Jasmine',     :bar_1 => 30, :bar_2 => 30, :bar_3 => 80, :content  => 'Since I\'m rooted in the Ruby world, my preferred js testing framework is Jasmine, Jasmine should be quite easy to get into for anyone familiar with RSpec. Writing js test doesn\'t just ease your heart when adding to your codebase, but it helps you get into a pattern of writing better code - testable code. This is something I believe is important for the health of the project, and for personal growth of the developer.' },
        { :id => 'jquery',    :label => 'jQuery',      :bar_1 => 80, :bar_2 => 90, :bar_3 => 60, :content  => 'As for most Front-End developers, jQuery has been a part of my life for quite some time now, it\'s for me what the utility belt is for Batman. The super-power isn\'t about the belt, but it makes a lot of stuff much easier.' },
        { :id => 'sass',      :label => 'Sass',        :bar_1 => 100,:bar_2 => 90, :bar_3 => 70, :content  => 'For me Sass is more than an aid to strucure, re-use and calculate styles - it enables me to be more creative in the way I write my code. I get to adhere to a programmatical mindset as opposed to just writing declarations, which makes writing styles really enjoyable, especially with tools like Compass or Bourbon.' },
        { :id => 'less',      :label => 'Less',        :bar_1 => 60, :bar_2 => 10, :bar_3 => 50, :content  => 'I\'m using Less on a few of my current projects, even though I prefer Sass for CSS preprocessing I think Less\' approach is interesting and from a CSS-authoring point of view probably healthier than Sass.' },
        { :id => 'responsive',:label => 'Responsive',  :bar_1 => 80, :bar_2 => 80, :bar_3 => 80, :content  => 'These days, responsiveness for a web-site goes without saying, there is more to building responsive web applications than that though. If breakpoints doesn\'t give the right experience or feel intuitive enough - then there a lot of room for improvements. Truly responsive applications that feels right from phone to desktop, that just gives a really professional impression.' }
      ]
    }
  %>

.xp-graph.box
  %ul
    - xp_data[:data].each_with_index do |subject, i|
      %li{ "data-subject" => subject.to_json, :class => 'subject-' + subject[:id] }
        - klass = i < 1 ? 'is-active' : ''
        %a{ :href => '#', :class => klass }
          = subject[:label]

  .label-col
    - xp_data[:labels].each do |bar_label|
      %span
        = bar_label

  .bars-col
    - (1..3).each do |bar_nr|
      %span{ :class => "bar-#{bar_nr}" }

  %hr

  .subject-content
    %p
      Placeholder (will be replaced by js)
